/* Domingo,02/01/2022 as 21:30:00 h+|-   */
.jumbotron{
    background-color: #ffff;
    margin: o;
}
.jumbotron .jumbotron-heading{
    font-weight: 300;
}
.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}